* {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
}

/* Sport Icons */
.sport-icon-right:hover {
  transform: translate(12px);
  transition: transform 2s;
}

.sport-icon-left:hover {
  transform: translate(-12px);
  transition: transform 2s;
}

.sport-icon-desc:hover {
  transform: translate(25px, 15px);
  transition: transform 2s;
}

.sport-icon-rotate:hover {
  transform: rotate(360deg);
  transition: transform 2s;
}

/* Searchbar */
.searchbar {
  padding: 10px;
  border: solid #c8ccd0 1px;
  border-radius: 3px 0px 0px 3px;
  -webkit-transition: box-shadow linear 0.2s;
  transition: box-shadow linear 0.2s;
  border-right: 0;
}

.searchbar:focus {
  outline: none;
  border-color: #6c757d;
  box-shadow: 0 0 10px #6c757d;
}

.searchbar:hover {
  border-color: #6c757d;
  box-shadow: 0 0 10px #6c757d;
}

.search-icon-container {
  background-color: #eaecee;
  color: #6c757d;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

.search-icon-container:hover {
  color: #191919;
}

/* Header Image */

.container-img {
  background-image: url("assets/Running\ Nature\ fabio-comparelli-uq2E2V4LhCY-unsplash.jpg");
  background-size: cover;
  background-position-y: center;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.blog-info {
  min-width: 300px;
  max-width: 35%;
  height: auto;
  color: #191919;
  background-color: #fff;
  margin: 30px;
  padding: 10px 20px;
  opacity: 0.8;
}

/* Image Authors */
.img-author {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 90%;
  margin: 0px auto;
}

/* Blog Posts */
.linkToBlogPost {
  background-color: #ccc;
  width: 100%;
  border-radius: 0;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}

.linkToBlogPost:hover {
  background-color: #b6ac95;
  width: 50%;
  min-width: 100px;
  border-radius: 3px;
  margin: 0 auto;
}

.btn-blogTeaser,
.btn-blogTeaser:hover,
.btn-blogTeaser:focus {
  display: inline-block;
  text-decoration: none !important;
  color: #ffffff;
  padding: 10px;
  min-width: 100px;
  border: 0;
  box-shadow: 0;
}

/* Article */
.container-blogImg {
  position: relative;
}

.container-blogImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: 0.5s ease;
}

.overlay {
  position: absolute;
  color: #191919;
  font-weight: 700;
  font-size: 3em;
  width: 100%;
  height: 200px;
  top: 100%;
  left: 50%;
  padding: 50px 10px;
  transform: translate(-50%, -170%);
  opacity: 1;
  text-align: center;
  background: #ffffff90;
}

.img-article {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.p-article {
  font-size: 1.2em;
  font-weight: 300;
}

/* Footer */
.footer {
  background-color: #ced0d0;
  margin-top: 40px;
  padding: 20px 0;
  color: #191919;
  border-top: 1px solid #191919;
}

.footer a {
  color: #191919;
  font-weight: 700;
}

.hr {
  background-color: #191919;
}

.pointer {
  cursor: pointer;
}

.socialicon {
  width: 50px;
  height: 50px;
  padding: 1rem;
}

.bg-light {
  background-color: #fff;
  opacity: 1;
}

.bg-light:hover {
  background-color: #fff;
  color: #353636;
  opacity: 1;
}
